{% load static %}





<section class="section my-work" data-section="section3">
    <div class="container">
      <div class="section-heading">
        <h2>My Work</h2>
        <div class="line-dec"></div>
        <span
          >Aenean sollicitudin ex mauris, lobortis lobortis diam euismod sit
          amet. Duis ac elit vulputate, lobortis arcu quis, vehicula
          mauris.</span
        >
      </div>
      <div class="row">
        
        <div class="isotope-wrapper">
          <form class="isotope-toolbar">

              <span>all</span></label>
          </form>
          
          <div class="isotope-box">
            
            {% for a in mywork %}
            <div class="isotope-item" data-type="nature">
              <figure class="snip1321">
                
                <img
                  src="{{ a.image1.url }}"
                  alt="sq-sample26"
                />
                <figcaption>
                  <a
                    href="{{ a.image1.url }}"
                    data-lightbox="image-1"
                    data-title="Caption"

                    
                    ><i class="fa fa-search"></i
                  ></a>
                  <h4>{{ a.title }}</h4>
                  <span>{{ a.dis }}</span>
                  
                </figcaption>
              </figure>
            </div>
            {% endfor %}
            
          </div>
          
          
        </div>
        
      </div>
      
      
    </div>
    
  </section>